<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.ControlUnitMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.ControlUnit" ><!-- id对应主键 -->
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="include_section" property="includeSection" jdbcType="VARCHAR" />
    <result column="watershed" property="watershed" jdbcType="VARCHAR" />
    <result column="loc_province" property="locProvince" jdbcType="VARCHAR" />
    <result column="involve_city" property="involveCity" jdbcType="VARCHAR" />
    <result column="involve_county" property="involveCounty" jdbcType="VARCHAR" />
    <result column="involve_village" property="involveVillage" jdbcType="VARCHAR" />
    <result column="village_amount" property="villageAmount" jdbcType="INTEGER" />
    <result column="involve_river" property="involveRiver" jdbcType="VARCHAR" />
    <result column="unit_type" property="unitType" jdbcType="VARCHAR" />
    <result column="water_resource" property="waterResource" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="hr_river" property="hrRiver" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, unit_name, include_section, watershed, loc_province, involve_city, involve_county, 
    involve_village, village_amount, involve_river, unit_type, water_resource, is_del, 
    hr_river
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eliteams.quick4j.web.model.ControlUnitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from control_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from control_unit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from control_unit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eliteams.quick4j.web.model.ControlUnitExample" >
    delete from control_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.ControlUnit" >
    insert into control_unit (id, unit_name, include_section, 
      watershed, loc_province, involve_city, 
      involve_county, involve_village, village_amount, 
      involve_river, unit_type, water_resource, 
      is_del, hr_river)
    values (#{id,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{includeSection,jdbcType=VARCHAR}, 
      #{watershed,jdbcType=VARCHAR}, #{locProvince,jdbcType=VARCHAR}, #{involveCity,jdbcType=VARCHAR}, 
      #{involveCounty,jdbcType=VARCHAR}, #{involveVillage,jdbcType=VARCHAR}, #{villageAmount,jdbcType=INTEGER}, 
      #{involveRiver,jdbcType=VARCHAR}, #{unitType,jdbcType=VARCHAR}, #{waterResource,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER}, #{hrRiver,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eliteams.quick4j.web.model.ControlUnit" >
    insert into control_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="includeSection != null" >
        include_section,
      </if>
      <if test="watershed != null" >
        watershed,
      </if>
      <if test="locProvince != null" >
        loc_province,
      </if>
      <if test="involveCity != null" >
        involve_city,
      </if>
      <if test="involveCounty != null" >
        involve_county,
      </if>
      <if test="involveVillage != null" >
        involve_village,
      </if>
      <if test="villageAmount != null" >
        village_amount,
      </if>
      <if test="involveRiver != null" >
        involve_river,
      </if>
      <if test="unitType != null" >
        unit_type,
      </if>
      <if test="waterResource != null" >
        water_resource,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="hrRiver != null" >
        hr_river,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="includeSection != null" >
        #{includeSection,jdbcType=VARCHAR},
      </if>
      <if test="watershed != null" >
        #{watershed,jdbcType=VARCHAR},
      </if>
      <if test="locProvince != null" >
        #{locProvince,jdbcType=VARCHAR},
      </if>
      <if test="involveCity != null" >
        #{involveCity,jdbcType=VARCHAR},
      </if>
      <if test="involveCounty != null" >
        #{involveCounty,jdbcType=VARCHAR},
      </if>
      <if test="involveVillage != null" >
        #{involveVillage,jdbcType=VARCHAR},
      </if>
      <if test="villageAmount != null" >
        #{villageAmount,jdbcType=INTEGER},
      </if>
      <if test="involveRiver != null" >
        #{involveRiver,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null" >
        #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="waterResource != null" >
        #{waterResource,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="hrRiver != null" >
        #{hrRiver,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eliteams.quick4j.web.model.ControlUnitExample" resultType="java.lang.Integer" >
    select count(*) from control_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update control_unit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.unitName != null" >
        unit_name = #{record.unitName,jdbcType=VARCHAR},
      </if>
      <if test="record.includeSection != null" >
        include_section = #{record.includeSection,jdbcType=VARCHAR},
      </if>
      <if test="record.watershed != null" >
        watershed = #{record.watershed,jdbcType=VARCHAR},
      </if>
      <if test="record.locProvince != null" >
        loc_province = #{record.locProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.involveCity != null" >
        involve_city = #{record.involveCity,jdbcType=VARCHAR},
      </if>
      <if test="record.involveCounty != null" >
        involve_county = #{record.involveCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.involveVillage != null" >
        involve_village = #{record.involveVillage,jdbcType=VARCHAR},
      </if>
      <if test="record.villageAmount != null" >
        village_amount = #{record.villageAmount,jdbcType=INTEGER},
      </if>
      <if test="record.involveRiver != null" >
        involve_river = #{record.involveRiver,jdbcType=VARCHAR},
      </if>
      <if test="record.unitType != null" >
        unit_type = #{record.unitType,jdbcType=VARCHAR},
      </if>
      <if test="record.waterResource != null" >
        water_resource = #{record.waterResource,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.hrRiver != null" >
        hr_river = #{record.hrRiver,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update control_unit
    set id = #{record.id,jdbcType=INTEGER},
      unit_name = #{record.unitName,jdbcType=VARCHAR},
      include_section = #{record.includeSection,jdbcType=VARCHAR},
      watershed = #{record.watershed,jdbcType=VARCHAR},
      loc_province = #{record.locProvince,jdbcType=VARCHAR},
      involve_city = #{record.involveCity,jdbcType=VARCHAR},
      involve_county = #{record.involveCounty,jdbcType=VARCHAR},
      involve_village = #{record.involveVillage,jdbcType=VARCHAR},
      village_amount = #{record.villageAmount,jdbcType=INTEGER},
      involve_river = #{record.involveRiver,jdbcType=VARCHAR},
      unit_type = #{record.unitType,jdbcType=VARCHAR},
      water_resource = #{record.waterResource,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      hr_river = #{record.hrRiver,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eliteams.quick4j.web.model.ControlUnit" >
    update control_unit
    <set >
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="includeSection != null" >
        include_section = #{includeSection,jdbcType=VARCHAR},
      </if>
      <if test="watershed != null" >
        watershed = #{watershed,jdbcType=VARCHAR},
      </if>
      <if test="locProvince != null" >
        loc_province = #{locProvince,jdbcType=VARCHAR},
      </if>
      <if test="involveCity != null" >
        involve_city = #{involveCity,jdbcType=VARCHAR},
      </if>
      <if test="involveCounty != null" >
        involve_county = #{involveCounty,jdbcType=VARCHAR},
      </if>
      <if test="involveVillage != null" >
        involve_village = #{involveVillage,jdbcType=VARCHAR},
      </if>
      <if test="villageAmount != null" >
        village_amount = #{villageAmount,jdbcType=INTEGER},
      </if>
      <if test="involveRiver != null" >
        involve_river = #{involveRiver,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null" >
        unit_type = #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="waterResource != null" >
        water_resource = #{waterResource,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="hrRiver != null" >
        hr_river = #{hrRiver,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.ControlUnit" >
    update control_unit
    set unit_name = #{unitName,jdbcType=VARCHAR},
      include_section = #{includeSection,jdbcType=VARCHAR},
      watershed = #{watershed,jdbcType=VARCHAR},
      loc_province = #{locProvince,jdbcType=VARCHAR},
      involve_city = #{involveCity,jdbcType=VARCHAR},
      involve_county = #{involveCounty,jdbcType=VARCHAR},
      involve_village = #{involveVillage,jdbcType=VARCHAR},
      village_amount = #{villageAmount,jdbcType=INTEGER},
      involve_river = #{involveRiver,jdbcType=VARCHAR},
      unit_type = #{unitType,jdbcType=VARCHAR},
      water_resource = #{waterResource,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      hr_river = #{hrRiver,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="listAll" resultMap="BaseResultMap">    
        select 
        <include refid="Base_Column_List" />
        from control_unit
        where is_del = 0    
  </select>
  <select id="selectByName" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from control_unit
		where unit_name = #{unitName,jdbcType=VARCHAR}
  </select>  
  <update id="deleteById" parameterType="java.lang.Integer">
		update control_unit
		set is_del = 1
		where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 分页SQL语句 -->  
  <select id="selectCUByPage" resultMap="BaseResultMap">  
        select   
        *  
        from control_unit 
        WHERE 
        <trim>
			<if test="map.involve_city != null">
				involve_city LIKE CONCAT('%', #{map.involve_city}, '%') and
			</if>
			<if test="map.involve_county != null">
				involve_county LIKE CONCAT('%', #{map.involve_county}, '%') and
			</if>
			is_del = 0
		</trim>   
        limit #{startPos},#{pageSize}   
  </select>  
  <!-- 取得记录的总数 -->  
  <select id="getCUCount" resultType="long">  
        select 
        count(*) 
        from control_unit 
        where 
        <trim>
			<if test="map.involve_city != null">
				involve_city LIKE CONCAT('%', #{map.involve_city}, '%') and
			</if>
			<if test="map.involve_county != null">
				involve_county LIKE CONCAT('%', #{map.involve_county}, '%') and
			</if>
			is_del = 0
		</trim>   
  </select>  
  <select id="getSearchCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(*)
		from control_unit
		WHERE
		<trim>
			<if test="map.id != null">
				id = #{map.id} and
			</if>
			<if test="map.unit_name != null">
				unit_name LIKE CONCAT('%', #{map.unit_name}, '%') and
			</if>
			<if test="map.include_section != null">
				include_section LIKE CONCAT('%', #{map.include_section}, '%') and
			</if>
			<if test="map.watershed != null">
				watershed LIKE CONCAT('%', #{map.watershed}, '%') and
			</if>
			<if test="map.loc_province != null">
				loc_province LIKE CONCAT('%', #{map.loc_province}, '%') and
			</if>
			<if test="map.involve_city != null">
				involve_city LIKE CONCAT('%', #{map.involve_city}, '%') and
			</if>
			<if test="map.involve_county != null">
				involve_county LIKE CONCAT('%', #{map.involve_county}, '%') and
			</if>
			<if test="map.involve_village != null">
				involve_village LIKE CONCAT('%', #{map.involve_village}, '%') and
			</if>
			<if test="map.village_amount != null">
				village_amount LIKE CONCAT('%', #{map.village_amount}, '%') and
			</if>
			<if test="map.involve_river != null">
				involve_river LIKE CONCAT('%', #{map.involve_river}, '%') and
			</if>
			<if test="map.unit_type != null">
				unit_type LIKE CONCAT('%', #{map.unit_type}, '%') and
			</if>
			<if test="map.water_resource != null">
				water_resource LIKE CONCAT('%', #{map.water_resource}, '%') and
			</if>
			<if test="map.hr_river != null">
				hr_river LIKE CONCAT('%', #{map.hr_river}, '%') and
			</if>
			is_del = 0
		</trim>
	</select>

	<select id="searchByPage" resultMap="BaseResultMap">
		select
		*
		from control_unit
		WHERE
		<trim>
			<if test="map.id != null">
				id = #{map.id} and
			</if>
			<if test="map.unit_name != null">
				unit_name LIKE CONCAT('%', #{map.unit_name}, '%') and
			</if>
			<if test="map.include_section != null">
				include_section LIKE CONCAT('%', #{map.include_section}, '%') and
			</if>
			<if test="map.watershed != null">
				watershed LIKE CONCAT('%', #{map.watershed}, '%') and
			</if>
			<if test="map.loc_province != null">
				loc_province LIKE CONCAT('%', #{map.loc_province}, '%') and
			</if>
			<if test="map.involve_city != null">
				involve_city LIKE CONCAT('%', #{map.involve_city}, '%') and
			</if>
			<if test="map.involve_county != null">
				involve_county LIKE CONCAT('%', #{map.involve_county}, '%') and
			</if>
			<if test="map.involve_village != null">
				involve_village LIKE CONCAT('%', #{map.involve_village}, '%') and
			</if>
			<if test="map.village_amount != null">
				village_amount LIKE CONCAT('%', #{map.village_amount}, '%') and
			</if>
			<if test="map.involve_river != null">
				involve_river LIKE CONCAT('%', #{map.involve_river}, '%') and
			</if>
			<if test="map.unit_type != null">
				unit_type LIKE CONCAT('%', #{map.unit_type}, '%') and
			</if>
			<if test="map.water_resource != null">
				water_resource LIKE CONCAT('%', #{map.water_resource}, '%') and
			</if>
			<if test="map.hr_river != null">
				hr_river LIKE CONCAT('%', #{map.hr_river}, '%') and
			</if>
			is_del = 0
		</trim>
		limit #{startPos},#{pageSize}
	</select>
	
	<select id="selectForMap" resultMap="BaseResultMap">
		select
		*
		from control_unit
		WHERE
		<trim>
			<if test="map.id != null">
				id = #{map.id} and
			</if>
			<if test="map.unit_name != null">
				unit_name LIKE CONCAT('%', #{map.unit_name}, '%') and
			</if>
			<if test="map.include_section != null">
				include_section LIKE CONCAT('%', #{map.include_section}, '%') and
			</if>
			<if test="map.watershed != null">
				watershed LIKE CONCAT('%', #{map.watershed}, '%') and
			</if>
			<if test="map.loc_province != null">
				loc_province LIKE CONCAT('%', #{map.loc_province}, '%') and
			</if>
			<if test="map.involve_city != null">
				involve_city LIKE CONCAT('%', #{map.involve_city}, '%') and
			</if>
			<if test="map.involve_county != null">
				involve_county LIKE CONCAT('%', #{map.involve_county}, '%') and
			</if>
			<if test="map.involve_village != null">
				involve_village LIKE CONCAT('%', #{map.involve_village}, '%') and
			</if>
			<if test="map.village_amount != null">
				village_amount LIKE CONCAT('%', #{map.village_amount}, '%') and
			</if>
			<if test="map.involve_river != null">
				involve_river LIKE CONCAT('%', #{map.involve_river}, '%') and
			</if>
			<if test="map.unit_type != null">
				unit_type LIKE CONCAT('%', #{map.unit_type}, '%') and
			</if>
			<if test="map.water_resource != null">
				water_resource LIKE CONCAT('%', #{map.water_resource}, '%') and
			</if>
			<if test="map.hr_river != null">
				hr_river LIKE CONCAT('%', #{map.hr_river}, '%') and
			</if>
			is_del = 0
		</trim>
	</select>
	
	<select id="selectForInfo" resultMap="BaseResultMap">
	     select * from control_unit 
	     WHERE
	     <trim>
	        <if test="name != null">
				unit_name = #{name} and
			</if>
			is_del = 0
	     </trim> 
	</select>
	
	<select id="selectAllForLeft" resultMap="BaseResultMap">
	     select * from control_unit 
	     WHERE
	     <trim>
			<if test="map.involve_city != null">
				involve_city LIKE CONCAT('%', #{map.involve_city}, '%') and
			</if>
			<if test="map.involve_county != null">
				involve_county LIKE CONCAT('%', #{map.involve_county}, '%') and
			</if>
			is_del = 0
		</trim>
	</select>
	<select id="selectCuAndQmp" resultMap="BaseResultMap">
	     select * from control_unit 
	     WHERE
		 is_del = 0
	</select>
</mapper>